{% trans_default_domain 'messages' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}home.agency.name{% endtrans %}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>{% trans %}home.agency.name{% endtrans %}</h1>
    <p>{% trans %}home.text{% endtrans %}</p>
</div>

<div id="container">
    <h2>{% trans %}home.last.property{% endtrans %}</h2>
    <div class="row flex">
        {% for property in properties %}
            {% include "property/_properties.html.twig" %}
        {% endfor %}
    </div>
</div>
{% endblock %}