{% trans_default_domain 'messages' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}property.index.see.all.property{% endtrans %}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>{% trans %}property.index.see.all.property{% endtrans %}</h1>

</div>
{% endblock %}